/* Navbar styles */
.container {
  @apply flex justify-between items-center p-2.5;
}
.logo-text {
  @apply text-[large] font-bold w-min;
}
.search-bar {
  @apply w-2/5 min-w-min relative;
}
.search-input {
  @apply w-full h-full border bg-transparent text-[black] text-base font-normal px-2 py-[0.7rem] rounded-[50px] border-solid border-[rgba(0,0,0,0.125)];
  outline: none;
}
.search-icon {
  @apply absolute translate-x-2/4 text-base text-[rgba(0,0,0,0.5)] cursor-pointer bg-[#17b586bb] select-none text-center p-2.5 rounded-[50px] border-[none] right-[23px] top-0; /* transform: translateY(-50%); */
  outline: none;
}

.right {
  @apply flex justify-between gap-2 items-center;
}
.temp-unit-select select {
  @apply w-full h-full border bg-transparent text-[black] text-base font-normal cursor-pointer p-[0.3rem] rounded-[10px] border-solid border-[rgba(0,0,0,0.125)];
  outline: none;
}
@media screen and (max-width: 425px) {
  .container {
    @apply block relative;
  }
  .search-bar {
    @apply absolute min-w-max w-[90%] mx-[5px] my-2.5;
  }
  .search-input {
    @apply w-full;
  }
  .right {
    @apply absolute mr-0 right-2.5 top-[5px];
  }
}
