@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply leading-normal font-normal m-0 p-0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.today-container {
  background: url("bg.jpg") no-repeat center right/cover;
}
.card {
  @apply bg-[rgba(236,38,38,0.11)] backdrop-blur-[50px] border rounded-[20px] border-solid border-[rgba(255,255,255,0.125)];

  /* background: linear-gradient(
    260deg,
    rgba(255, 106, 0, 0.707) 0%,
    rgba(255, 170, 0, 0.707) 74%
  ); */
}

/* Media for devices smaller than desktop */
@media screen and (max-width: 768px) {
  .today-container {
    @apply flex-col p-[15px];
  }
  .today {
    @apply w-[90%] m-2.5 px-[15px] py-5;
  }
  .highlights {
    @apply w-[90%] px-[15px] py-5;
  }
  .highlights-container {
    @apply flex-row;
  }
  .highlight {
    @apply w-2/5 m-[5px];
  }
  .hightlight-details {
    @apply px-0 py-[5px];
  }
}

@media screen and (max-width: 425px) {
  .to-container {
    @apply block relative;
  }
  .search-bar {
    @apply absolute min-w-max w-[90%] mx-[5px] my-2.5;
  }
  .search-input {
    @apply w-full;
  }
  .right {
    @apply absolute mr-0 right-2.5 top-[5px];
  }

  .today-container {
    @apply mt-[50px];
  }
  .highlights-container {
    @apply flex-col;
  }
  .highlight {
    @apply w-[90%] translate-x-[-5px] m-2.5;
  }
}
